@page
@model WebApp.Pages.User.IndexModel
@{
    ViewData [ "Title" ] = "Sistema Préstamos | Acceso";
}

<h2>Iniciar Sesión</h2>
<span>Ingrese sus credenciales para acceder</span>

<div class="row">
    <div class="col-12">
        <form method="post" enctype="application/x-www-form-urlencoded">
            <div class="row">
                <div class="col-12">
                    <label for="Email">Email</label>
                    <input type="text" placeholder="Email" id="Email" maxlength="20" />
                </div>
                <div class="col-12">
                    <label for="Email">Contrase&ntilde;a</label>
                    <input type="password" placeholder="Email" id="Contraseña" maxlength="20" />
                </div>
                <div class="col-12">
                    <button type="submit" id="btnLogin" class="btn btn-dark">Ingresar</button>
                </div>
            </div>
        </form>
    </div>
</div>

@{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnLogin').click(function (e) {
                e.preventDefault();
                var email = $('#Email').val();
                var password = $('#Contraseña').val();
                if (email.length == 0 || password.length == 0) {
                    alert('Los campos no pueden estar vacios.');
                    return;
                }
                $('form').submit();
            });
        });
    </script>
}